<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">

    <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="/book">Books</a>
            <a class="navbar-link" href="/author">Authors</a>
            <a class="navbar-link" href="/publisher">Publisher</a>
        </li>

        </ul>
    </div>
    


</html>