<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>

<div class="container">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a class="navbar-link" href="/">Home</a>
      <a class="navbar-link" href="/book">Books</a>
      <a class="navbar-link" href="/author">Authors</a>
      <a class="navbar-link" href="/publisher">Publisher</a>
  </li>

  </ul>
</div>

<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
     <h2>{{title}}</h2>
     <table><thead>
      <tr><th>Publisher</th><th>Country</th>
          <th>Founded</th><th>Genere</th></tr>
      </thead><tbody>
      {{#publishers}}
      <tr><td><a href="publisher/{{id}}">
          {{publisher}} </a></td>
      <td>{{country}}</td>
      <td>{{founded}}</td>
      <td>{{genere}}</td>
      <td>
        <a class="button" href="publisher/{{id}}">Show</a>
        <a class="button" href="publisher/{{id}}/edit">Edit</a></td></tr>
      {{/publishers}}</tbody>
     </table>
     <a class="button button-primary" href="/publisher/create">New Publisher</a>
    </div>
   </div>
 </div>
</body>